{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<header class="masthead" style="background-image: url('../static/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1>Update Post</h1>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
    <h2 class="text-white">Update post</h2>
        
    <hr>

    <form method="post" action="{% url 'update-post' post.pk %}">
        {% csrf_token %}
        <div class="col">
            <div class="row text-white">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="row text-white">
                {{ form.content|as_crispy_field }}
            </div>
        </div>

        <button class="btn btn-info text-white" type="submit">Update</button>
    </form>
{% endblock content %}