{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block header %}
<header class="masthead" style="background-image: url('../static/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1>Login</h1>
            <span class="subheading">Login to your account.</span>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block content %}
    <h2 class="text-white">Log In</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="col">
            <div class="row text-white">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="row text-white">
                {{ form.password|as_crispy_field }}
            </div>
        </div>

        <button class="btn btn-success" type="submit">Log In</button>
    </form>
{% endblock content %}
